.skills{
    background: url("./../../assets//image/skills/skills-bg.png") rgba(0, 0, 0, 0.267);
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.skills-content{
    text-align: center;
    background-color: var(--dark-color);
    top: -50px;
    position: relative;
    border-radius: 60px;
    padding: 50px 0 50px 0;
}


.skills-slider{
    padding: 40px 0px;
    margin: 0px auto;
}

.item img{
    width: 100px;
}

.react-multi-carousel-dot--active button {
    background: white !important;
}

@media screen and (max-width:770px){

.skills{
    height: 70vh;
}

.nav-link#projects-tabs-tab-first, .nav-link#projects-tabs-tab-second ,.nav-link#projects-tabs-tab-third {
    font-size: 15px;

}
}